html {
  height: 100%;
}
body {
  background-image: linear-gradient(
    225deg,
    rgba(104, 187, 255, 0.6),
    rgb(255, 104, 104)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

#root {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.nav-item {
  text-decoration: none;
  color: black;
  margin-right: 30px;
}

#page-content {
  flex-grow: 2;
}

.login {
  width: 50%;
  margin: auto;
}

.createUser {
  width: 50%;
  margin: auto;
}

.profile {
  width: 50%;
  margin: auto;
}

.poogers {
  display: inline-block;
}

.personalRanking {
  width: 60%;
  margin: auto;
}

.other-ranking {
  width: 60%;
  margin: auto;
}

.rankingNumber {
  display: inline-block;
  width: 3.5%;
  margin-right: 1%;
}

.rankings {
  text-align: center;
  width: 50%;
  margin: auto;
}

.rankings ol {
  list-style-position: inside; /* This moves the list numbers inside the list item */
  padding-left: 0; /* Remove default padding */
  margin-left: 0; /* Remove default margin */
}

.rankings li {
  padding: 5px 0; /* Adjust padding as needed */
  margin: 0; /* Remove default margin */
  list-style-type: decimal; /* Ensure it uses decimal numbers */
}

.display-comments {
  text-decoration: none;
  border: none;
  outline: none;
}

.comment {
  background-color: rgb(216, 215, 215);
}

.profile-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: none;
  outline: none;
}

.profile-link:hover {
  color: white;
}

.profile-coasters {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid;
  padding: 5px;
}

.location-selector-1 {
  text-align: center;
}

.location-selector {
  width: 100vw;
  text-align: center;
  height: 100vh;
  position: fixed;
  top: 0;
  background-image: url(https://cdn.midjourney.com/330dc4a5-955e-4c5f-a487-f37b630fdc37/0_1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  z-index: -1;
  background-attachment: fixed;
}

.all-park-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.685);
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
}

.park-link {
  text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.55);
  color: rgb(251, 255, 0);
  text-decoration: none;
  border: none;
  outline: none;
  text-align: left;
}

.park-link:hover {
  color: rgb(0, 0, 0);
  text-shadow: 0px;
}

.park-main-picture {
  max-width: 600px;
  width: 60%;
  height: auto;
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 3%;
}

.coaster-selector {
  text-align: center;
}

.coaster-info-image {
  max-width: 700px;
  width: 60%;
  height: auto;
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 3%;
}

.coaster-info-panel {
  text-align: center;
}

.coaster-images-container {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 10px;
  width: auto;
  height: 50vh;
  overflow-y: hidden;
}

.coaster-image-wrapper {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.5%;
  height: 100%;
}

.coaster-images {
  width: auto;
  height: auto;
  max-height: 100%;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
}

.coaster-stat {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .coaster-images {
    max-width: 90vw;
  }
  .coaster-image-wrapper {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3%;
    height: 100%;
  }
}

.social-container {
  display: flex;
  justify-content: space-between;
}

.social {
  width: 100%;
  display: flex;
  text-align: center;
}

.friend-stuff {
  flex: 1;
  margin: 10px;
  overflow: visible;
  max-width: 33.33%;
}

#friends-list {
  margin-top: 10vh;
  margin-right: 10vw;
  border: solid 2px black;
  font: bold;
  min-width: fit-content;
}

.friend {
  text-align: center;
  border: solid 1px grey;
  padding: 5px;
}

.buttons {
  display: inline-block;
}

#friend-requests {
  padding: 1vh;
  width: fit-content;
  height: fit-content;
  border: solid 2px black;
}

.friend-request {
  text-align: center;
  border: solid 1px grey;
}

.friend-button {
  display: inline-block;
}

.dm {
  height: fit-content;
}

.friend-search {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: solid 1px;
  min-height: 50px;
  width: 100%;
  box-sizing: border-box;
}

.friend-search label,
.friend-search select,
.friend-search button {
  margin: 5px;
}

.group-stuff {
  flex: 1;
  margin: 10px;
  overflow: hidden;
  max-width: 66.66%;
}

#group-invites {
  width: 20vh;
  height: fit-content;
  max-height: 20vh;
  margin: auto;
  border: solid 2px black;
}

.group-invite {
  text-align: center;
}

.group-members {
  margin-top: 5vh;
  margin-right: 5vw;
  width: fit-content;
  height: fit-content;
  border: solid 2px black;
}

.group-member {
  text-align: center;
  border: solid 1px grey;
}

.group-messages {
  text-align: center;
}
