html {
  height: 100%;
}
body {
  background-image: linear-gradient(225deg, rgba(104, 187, 255, 0.6), rgb(255, 104, 104));
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

#root {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.nav-item {
  text-decoration: none;
  color: black;
  margin-right: 30px;
}

#page-content {
  flex-grow: 2;
}

.login {
  width: 50%;
  margin: auto;
}

.createUser {
  width: 50%;
  margin: auto;
}

.profile {
  width: 50%;
  margin: auto;
}

.personalRanking {
  width: 60%;
  margin: auto;
}

.other-ranking {
  width: 60%;
  margin:auto
}

.rankingNumber {
  display: inline-block;
  width: 3.5%;
  margin-right: 1%;
}

.rankings {
  width: 50%;
  margin: auto;
}

.display-comments {
  text-decoration: none;
  border: none;
  outline: none;
}

.comment {
  background-color: rgb(216, 215, 215);
}

.profile-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: none;
  outline: none;
}

.profile-link:hover {
  color: white;
}

.profile-coasters {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid;
  padding: 5px;
}

.location-selector-1 {
  text-align: center;
}

.location-selector {
  padding: 1%;
  text-align: center;
  height: 100%;
  min-height: 50vh;
  margin: 5vh;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/91/Winkel_triple_projection_SW.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.park-link {
  color: rgb(251, 255, 0);
  text-decoration: none;
  border: none;
  outline: none;
}

.park-link:hover {
  color: black;
}

.park-main-picture {
  max-width: 600px;
  width: 60%;
  height: auto;
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 3%;
}

.coaster-selector {
  text-align: center;
}

.coaster-info-image {
  max-width: 700px;
  width: 60%;
  height: auto;
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 3%;
}

.coaster-info-panel {
  text-align: center;
}

.coaster-images-container {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 10px;
  width: auto;
  height: 50vh;
  overflow-y: hidden;
}

.coaster-image-wrapper {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.5%;
  height: 100%;
}

.coaster-images {
  width: auto;
  height: auto;
  max-height: 100%;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
}

.coaster-stat {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .coaster-images {
    max-width: 90vw;
  }
  .coaster-image-wrapper {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3%;
    height: 100%;
  }
}

.social {
  text-align: center;
}

#friends-list {
  float: right;
  margin-top: 10vh;
  margin-right: 10vw;
  border: solid 2px black;
  font-size:x-large;
  font: bold;
}

.friend {
  text-align: center;
  border: solid 1px grey;
  padding: 5px;
  font-size: medium;
}